#wrapper {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
}

#wrapper-chart {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: auto;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
//	横向滚动
.container-horizontal {
	position: relative;
}
.wrapper-horizontal {
	position:absolute; 
	z-index: 2;
	top:0;
	right: 0;
	left: 0;
	bottom:0;
	overflow: hidden;
}
.scroller-horizontal {
	position:absolute;
	z-index: 2;
}
.scroller-item {
	float: left;
	width: 4.5rem;
}
// 上拉加载,下拉刷新
.pull-up,
.pull-down {
	position: relative;
	height: 0.36rem;
	line-height: 0.36rem;
	text-align: center;
	font-size: 0.2rem;
	letter-spacing: 0.02rem;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .1s;
	transition: .1s;
}
.pull-up.show,
.pull-down.show {
	// display:inline-block;
	visibility: visible;
	opacity: 1;
}
.pull-up:before,
.pull-down:before,
.pull-up:after,
.pull-down:after {
	content: "";
	display: inline-block;
	margin: 0.08rem;
	margin-bottom: 0.04rem;
	width: 0.32rem;
	height: 0.01rem;
	background: rgba(0, 0, 0, 0.7);
}
.pull-down.show {
	display:block;
}
.pull-down {
	display: none;
}
