.index-indicator {
	position: fixed;
	z-index:100;
	width:100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 1;
	background: $grey;
	// -webkit-transition: opacity .2s linear;
	// transition: opacity .2s linear;
	.mint-indicator-wrapper {
		top: 50%;
		left: 50%;
		z-index: 20;
		position: fixed;
		padding: 0.4rem;
		-webkit-transform: translate(-50%, -50%);
		      transform: translate(-50%, -50%);
		border-radius: 5px;
		background: rgba(0, 0, 0, 0.7);
		color: white;
		box-sizing: border-box;
		text-align: center;
	}
	.mint-indicator-text {
		display: block;
		color: #fff;
		text-align: center;
		margin-top: 10px;
		font-size: 0.22rem;
	}
}