.row:before, .row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}

.noSelect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.textOverflow {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.none {
  display: none !important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.nodata {
  margin-top: 1.5rem;
  font-size: 0.25rem;
}
.inline {
	display: inline-block;
	vertical-align: middle;
}
.inblock {
   display: inline-block; 
}
.overflow {
	overflow: hidden;
}

.block {
	display: block;
}

.img100 {
   width: 100%;
   height: auto;
}

.height-auto {
  height: auto !important;
}

.margin-top-none{
    margin-top: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.text-decoration-none  {
  text-decoration: none !important;
}

.margin-bottom-none {
  margin-bottom: 0 !important;
}

.break-all {
  word-break: break-all;
}

.white-space-initial {
  white-space: initial !important;
}

.capitalize {
   text-transform: capitalize;
}

.vertical-top {
  vertical-align: top !important;
}

.vertical-center {
  vertical-align: middle !important;
}

.vertical-text-top {
  vertical-align: text-top !important;
}

.vertical-text-bottom {
  vertical-align: text-bottom !important; 
}

.vertical-bottom {
  vertical-align: bottom !important;
}
//	need height show vertical-align
.inner-center{
	height:100%;
    display: inline-block;
    vertical-align: middle;
}
.inner-center:after{
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    overflow: hidden;
}

button[disabled], html input[disabled] {
  cursor: not-allowed
}

///Place holder
@mixin placeholder {
    &.placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
}

// input
.common-search {
    position: relative;
    // margin: 0.05rem 0;
    i {
        position: absolute;
        color: #666;
        right: 0;
        top: 0;
        padding-left:0.2rem;
        padding-right:0.2rem;
        line-height: 0.4rem;
        cursor: pointer;
        font-size: 0.3rem
    }
    input {
        background: #fff;
        width: 100%;
        height: 0.4rem;
        padding-left: 0.2rem;
        padding-right:0.6rem;
        border: 1px solid #444;
        border-radius: 0.1rem;
        outline: none;
        color: #333;
        @include placeholder {
            color: #666;
        }
        &:hover,&:focus {
            border: 1px solid #d5dee1;
            background: #fafbfc;
            @include placeholder {
                color: #8c9dad;
            }
        }
    }
}
// $input-bg: $light-grey;
// $input-border: $mid-light-grey;
// $input-bg-hover: $mid-light-grey;
// $input-border-hover: $mid-grey;
// $input-bg-focus: $light-blue;
// $input-border-focus: $blue;
// Text indent, margins, and paddings from 5-50px in 5px increments
// e.g. in-10 - {text-indent: 10px}
// e.g. p-10 - {padding: 10px}
// e.g. mt-20 - {margin-top: 20px}
$spacing-property-map: ( m: margin, mt: margin-top, mr: margin-right, ml: margin-left, mb: margin-bottom, p: padding, pt: padding-top, pb: padding-bottom, pl: padding-left, pr: padding-right, );
@for $size from 0 through 10 {
    $val: $size * 5;
    .in-#{$val} {
        text-indent: 0.01rem * $val;
    }
    @each $keyword,
    $property in $spacing-property-map {
        .#{$keyword}-#{$val} {
            #{$property}: $val * 0.01rem !important;
        }
    }
}

// 宽度比例 最高10层(相当于100%)
@for $size from 0 through 10 {
	.span-#{$size} {
		width: $size * 10%;
	}
}
// 宽度比例 最高12层(相当于100%)
@for $size from 0 through 12 {
    .width-#{$size} {
        width: $size * 100% / 12;
    }
}
// @mixin widthRate($color:$pipe-grey) {
// 	width
// }

// .content:after,

// .content:after {

//     border-top: 1px solid #bfbfbf;

//     content: ' ';

//     display: block;

//     width: 100%;

//     position: absolute;

//     left: 0;

//     bottom: 0;

//     -webkit-transform-origin: left bottom;

// }

// /* Retina 适配 */

// @media only screen and (-webkit-min-device-pixel-ratio: 2.0),

// only screen and (min--moz-device-pixel-ratio: 2.0),

// only screen and (-o-min-device-pixel-ratio: 200/100),

// only screen and (min-device-pixel-ratio: 2.0) {

//     .content h1:after,

//     .content h2:after {

//         -webkit-transform: scaleY(0.5);

//         transform: scaleY(0.5);

//     }

// }

// /* 三倍屏 适配 */

// @media only screen and (-webkit-min-device-pixel-ratio: 2.5),

// only screen and (min--moz-device-pixel-ratio: 2.5),

// only screen and (-o-min-device-pixel-ratio: 250/100),

// only screen and (min-device-pixel-ratio: 2.5) {

//     .content h1:after,

//     .content h2:after {

//         -webkit-transform: scaleY(0.33333334);

//         transform: scaleY(0.33333334);

//     }

// }