$red : #d80c18;
$primary: #d71819 !default;
$error: rgba($red, .1);
$white : #fff;
$green : #008b14;

$black : #2a2a2a;
$middle-black: #666;

$orange : #f6720a;

$blue: #589dff;

$light-grey: #737373;
$grey: #fafafa;
$dark-grey: #a0a0a0;

.text-white {
	color: $white;
}
.text-red {
	color: $red;
}
.text-light-grey {
	color: $light-grey;
}
.text-dark-grey {
	color: $dark-grey;
}
.text-blue {
	color: $blue;
}
.text-detail {
	color: #292929;
}
.text-mblack {
	color: $middle-black;
}
.error {
	background-color: $error;
	border-color: $red;
}

.bg-white {
	background-color: $white;
}
.bg-grey {
	background-color: $grey;
}
.bg-orange {
	background-color: $orange;
}
.bg-black {
	background-color: $black;
}
.bg-red {
	background-color: $red;
}
.bg-green {
	background-color: $green;
}
.bg-select-wrap {
	background-color: #f2f2f2;
}