.font2 {
	font-size: 0.2rem!important;
}
.font3 {
	font-size: 0.3rem!important;
}
.font4 {
	font-size: 0.4rem!important;
}
.font5 {
	font-size: 0.5rem!important;
}
.font6 {
	font-size: 0.6rem!important;
}
.font7 {
	font-size: 0.7rem!important;
}