html {
    font-size: 100px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
*, *::before, *::after {
  box-sizing: border-box;
}

@media (min-device-width: 240px) {
  html {
    font-size: 42px;
  }
}
@media (min-device-width: 320px) {
  html {
    font-size: 65px;
  }
}

/* iphone 6 */

@media (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: 75px;
  }
}

/* iphone6 plus */

@media (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  html {
    font-size: 110px;
  }
}

body {
  width: 100%;
  height: 100%;
  background-color: #f3f0e9;
  font-size: 0.2rem;
  // font-family:Helvetica;
  font-family: "微软雅黑", "宋体", Arial;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -webkit-text-size-adjust: none;
  user-select: none;
  -webkit-user-select: none;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
img,
table,
td {
  margin: 0;
  padding: 0;
}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
input,a{outline:none;}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: 0.44rem;
}

h2 {
  font-size: 0.39rem;
}

h3 {
  font-size: 0.34rem;
}

h4,
h5,
h6 {
  font-size: 0.29rem;
}

input,
select,
textarea {
  font-size: inherit;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}

.noSelect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.textOverflow {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.none {
  display: none !important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.nodata {
  margin-top: 1.5rem;
  font-size: 0.25rem;
}