html {
    font-size: 100px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
*, *::before, *::after {
  box-sizing: border-box;
}

@media (min-device-width: 240px) {
  html {
    font-size: 42px;
  }
}
@media (min-device-width: 320px) {
  html {
    font-size: 65px;
  }
}

/* iphone 6 */

@media (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: 75px;
  }
}

/* iphone6 plus */

@media (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  html {
    font-size: 85px;
  }
}

/* ipad */

@media (min-device-width : 768px) and (max-device-width : 1024px){
  html {
    font-size: 110px;
  }
}

/* ipad以上 (暂时注释掉,以后必须打开)*/

// @media (min-device-width : 1024px) {
//   html {
//     font-size: 140px;
//   }
// }

body {
  width: 100%;
  height: 100%;
  background-color: #f3f0e9;
  font-size: 0.2rem;
  // font-family:Helvetica;
  font-family: "微软雅黑", "宋体", Arial;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -webkit-text-size-adjust: none;
  user-select: none;
  -webkit-user-select: none;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
img,
table,
td {
  margin: 0;
  padding: 0;
}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
input,a{outline:none;}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: 0.44rem;
}

h2 {
  font-size: 0.39rem;
}

h3 {
  font-size: 0.34rem;
}

h4,
h5,
h6 {
  font-size: 0.29rem;
}

input,
select,
textarea {
  font-size: inherit;
}
